* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

li{
  list-style: none;
}

.item ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li{
  width: 360px;
  height: 40px;
  border: 1px solid #212121;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item h2 {
  margin-left: 40px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 24px; 
  padding: 0;
  margin: 0;
  width: 408px;
}

.gallery img{
  width: 360px;
  height: 300px;
}
